<div class="container-xxl flex-grow-1 container-p-y">


    <div class="card mb-4">




        <!-- listeleme -->




        <div class="card-body ">

            <div class="card-group">



                @for (int i = 0; i < 5; i++)
                {



                    <div class="row mt-2">

                        <div class="col-lg-3">



                            <div class="card border border-primary">
                                <img class="card-img-top" src="~/resimyok.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">İsim Soyisim</h5>




                                    <div class="row">

                                        <div class="col-4">
                                            <label>Tel :</label>
                                            <br />
                                            <label>Tarih :</label>
                                            <br />
                                            <label>Tür :</label>
                                            <br />
                                            <label>Adet :</label>
                                            <br />
                                            <label>Ücret :</label>
                                            <br />
                                            <label>İşlem :</label>


                                        </div>
                                        <div class="col-8">


                                            <a>0 553 023 29 60</a>

                                            <br />

                                            <a>22.22.22 16.46</a>
                                            <br />

                                            <a>Gümüş</a>
                                            <br />
                                            <a>1</a>
                                            <br />
                                            <a>Kaynak Parlatma</a>

                                            <br />
                                            <a class="text-success">200 </a>
                                            <label>TL</label>


                                        </div>

                                    </div>


                                </div>
                                <div class="card-footer">

                                    <a href="#" class="btn btn-primary">Teslim Alındı</a>

                                    <a href="#" class="btn btn-danger">Sil</a>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-3">



                            <div class="card border border-primary">
                                <img class="card-img-top" src="~/resimyok.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">İsim Soyisim</h5>




                                    <div class="row">

                                        <div class="col-4">
                                            <label>Tel :</label>
                                            <br />
                                            <label>Tarih :</label>
                                            <br />
                                            <label>Tür :</label>
                                            <br />
                                            <label>Adet :</label>
                                            <br />
                                            <label>Ücret :</label>
                                            <br />
                                            <label>İşlem :</label>


                                        </div>
                                        <div class="col-8">


                                            <a>0 553 023 29 60</a>

                                            <br />

                                            <a>22.22.22 16.46</a>
                                            <br />

                                            <a>Gümüş</a>
                                            <br />
                                            <a>1</a>
                                            <br />
                                            <a>Kaynak Parlatma</a>

                                            <br />
                                            <a class="text-success">200 </a>
                                            <label>TL</label>


                                        </div>

                                    </div>


                                </div>
                                <div class="card-footer">

                                    <a href="#" class="btn btn-primary">Teslim Alındı</a>

                                    <a href="#" class="btn btn-danger">Sil</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">


                            <div class="card border border-primary">
                                <img class="card-img-top" src="~/resimyok.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">İsim Soyisim</h5>




                                    <div class="row">

                                        <div class="col-4">
                                            <label>Tel :</label>
                                            <br />
                                            <label>Tarih :</label>
                                            <br />
                                            <label>Tür :</label>
                                            <br />
                                            <label>Adet :</label>
                                            <br />
                                            <label>Ücret :</label>
                                            <br />
                                            <label>İşlem :</label>


                                        </div>
                                        <div class="col-8">


                                            <a>0 553 023 29 60</a>

                                            <br />

                                            <a>22.22.22 16.46</a>
                                            <br />

                                            <a>Gümüş</a>
                                            <br />
                                            <a>1</a>
                                            <br />
                                            <a>Kaynak Parlatma</a>

                                            <br />
                                            <a class="text-success">200 </a>
                                            <label>TL</label>


                                        </div>

                                    </div>


                                </div>
                                <div class="card-footer">

                                    <a href="#" class="btn btn-primary">Teslim Alındı</a>

                                    <a href="#" class="btn btn-danger">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">



                            <div class="card border border-primary">
                                <img class="card-img-top" src="~/resimyok.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">İsim Soyisim</h5>




                                    <div class="row">

                                        <div class="col-4">
                                            <label>Tel :</label>
                                            <br />
                                            <label>Tarih :</label>
                                            <br />
                                            <label>Tür :</label>
                                            <br />
                                            <label>Adet :</label>
                                            <br />
                                            <label>Ücret :</label>
                                            <br />
                                            <label>İşlem :</label>


                                        </div>
                                        <div class="col-8">


                                            <a>0 553 023 29 60</a>

                                            <br />

                                            <a>22.22.22 16.46</a>
                                            <br />

                                            <a>Gümüş</a>
                                            <br />
                                            <a>1</a>
                                            <br />
                                            <a>Kaynak Parlatma</a>

                                            <br />
                                            <a class="text-success">200 </a>
                                            <label>TL</label>


                                        </div>

                                    </div>


                                </div>
                                <div class="card-footer">

                                    <a href="#" class="btn btn-primary">Teslim Alındı</a>

                                    <a href="#" class="btn btn-danger">Sil</a>
                                </div>
                            </div>

                        </div>



                    </div>


                }




            </div>

        </div>
    </div>






